<%= form_with(model: photo, local: true, html: { multipart: true }) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited the images from uploading:</h2>
      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.fields_for :flight_summary do |fs_form| %>
    <div class="form-group">
      <%= fs_form.label :operator_name %>
      <%= fs_form.text_field :operator_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= fs_form.label :aircraft_type %>
      <%= fs_form.text_field :aircraft_type, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= fs_form.label :tail_number %>
      <%= fs_form.text_field :tail_number, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= fs_form.label :payload %>
      <%= fs_form.text_field :payload, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= fs_form.label :notes %>
      <%= fs_form.text_area :notes, cols: 40, rows: 5, class: "form-control" %>
    </div>
  <% end %>
  <div class="form-group">
    <%= file_field_tag 'photo_attributes_attachment', multiple: true, name: "photo[][attachment]", class: 'form-control-file btn btn-outline-primary' %>
  </div>
  <div class="form-group">
    <%= form.submit "Upload" , class: "btn btn-outline-primary" %>
  </div>
<% end %>