<p id="notice"><%= notice %></p>

<h4>Picture Database</h4>

<table class="table" id="table">
  <thead>
    <tr>
      <th>Filename</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.attachment.original_filename %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div id="myGrid" style="width:600px; height:500px;"></div>
<br>
<%= link_to 'Upload Photos', new_photo_path %>