body {
  font: 100% $font-stack;
  background-color: $bodymain-color;
}

body .container{
	min-height:400px !important;
}

body#main{
	background-color: $bodymain-color;	
}

.navbar {
	background-color: $nav-background;
}

footer{
	background-color: $nav-background;	
	color: $white;
	line-height: 2em;
}


.navbar a{
	color: #FFFFFF;
}

.navbar ul{
  list-style-type: none;
}

.dropdown-menu {
	background-color: $nav-background;
}
