// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 100%;
  height: 400px;
  background-color: grey;
}

ul.photo_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  li {
    display: inline;
    padding: 1em;
  }
}