<%= form_with(model: location, local: true, html: { multipart: true }) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>
      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= file_field_tag 'location_photos_attributes_attachment', multiple: true, name: "location[photos_attributes][][attachment]", class: 'form-control-file btn btn-outline-primary' %>
  </div>
  <div class="form-group">
    <%= form.submit "Create" , class: "btn btn-outline-primary" %>
  </div>
<% end %>