<p id="notice"><%= notice %></p>
<h4>Locations</h4>
<div id="map"></div>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th># of Photos</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td class="col-6"><%= location.name %></td>
        <td class="col-6"><%= location.photos.count %></td>
        <td class="col-2"><%= link_to '<i class="fa fa-map-marker"></i>'.html_safe, location %></td>
        <td class="col-2"><%= link_to '<i class="fa fa-pencil fa-fw"></i>'.html_safe, edit_location_path(location)  %></td>
        <td class="col-2"><%= link_to '<i class="fa fa-trash-o fa-lg"></i>'.html_safe, location, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if @locations.present? %>
<script>
  function initMap() {
    var uluru = {lat: <%= @locations[0].lat %>, lng: <%= @locations[0].lng %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.HYBRID,
      center: uluru
    });
    <% @locations.each_with_index do |location, i| 
      content = '<ul class="photo_list">'
      for photo in location.photos do
        content += "<li><img src=\"#{photo.attachment.url(:medium)}\"></li>"
      end
      content += '</ul>'
    %>
    infowindow_<%= i %> = new google.maps.InfoWindow({
      content: '<%= raw content %>'
    });
    marker_<%= i %> = new google.maps.Marker({
      position: {lat: <%= location.lat %>, lng: <%= location.lng %>},
      map: map,
      title: "<%= location.name %>",
      animation: google.maps.Animation.DROP,
    });
    marker_<%= i %>.addListener('click', function() {
      infowindow_<%= i %>.open(map, marker_<%= i %>);
    });
    <% end %>
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn7yG3_RN21nDgK5gWa-v4Doar92gO7wo&callback=initMap" type="text/javascript"></script>
<% end %>