<p id="notice"><%= notice %></p>

<h3>Name: <%= @location.name %></h3>
<p>Location: <%= @location.lat %>, <%= @location.lng %></h3></p>
<div class="row">
  <ul class="photo_list">
  <%= render @location.photos %>
  </ul>
</div>
<h3>Map</h3>
<div id="map"></div>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>

<script>
  function initMap() {
    var uluru = {lat: <%= @location.lat %>, lng: <%= @location.lng %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 18,
      mapTypeId: google.maps.MapTypeId.HYBRID,
      center: uluru
    });
    <% @location.photos.each_with_index do |photo, i| %>
    infowindow_<%= i %> = new google.maps.InfoWindow({
      content: '<img src="<%= photo.attachment.url(:medium) %>">'
    });
    marker_<%= i %> = new google.maps.Marker({
      position: {lat: <%= photo.lat %>, lng: <%= photo.lng %>},
      map: map,
      title: "<%= photo.attachment.original_filename %>",
      animation: google.maps.Animation.DROP,
    });
    marker_<%= i %>.addListener('click', function() {
      infowindow_<%= i %>.open(map, marker_<%= i %>);
    });
    <% end %>
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn7yG3_RN21nDgK5gWa-v4Doar92gO7wo&callback=initMap" type="text/javascript"></script>