<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AviSight</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <%= render partial: "layouts/navbar"%>
      <div class="container">
        <div class="row">
          <div class="col-offset-1 col-12 col-md-9 " id="main">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: "layouts/footer"%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
